/* CSS Reset */
/*  1. Use a more-intuitive box-sizing model. */
*, *::before, *::after {
  box-sizing: border-box;
}

/*  2. Remove default margin  */
* {
  margin: 0;
}

/*  3. Allow percentage-based heights in the application */
html, body {
  height: 100%;
}

/*
  Typographic tweaks!  4. Add accessible line-height  5. Improve text rendering */
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

/*  6. Improve media defaults */
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

/*  7. Remove built-in form typography styles */
input, button, textarea, select {
  font: inherit;
}

/*  8. Avoid text overflows */
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

/*  9. Create a root stacking context */
#root, #__next {
  isolation: isolate;
}

:Root {
  --list-red: hsl(0, 100%, 67%);
  --list-yellow: hsl(39, 100%, 56%);
  --list-teal: hsl(166, 100%, 37%);
  --list-blue: hsl(234, 85%, 45%);
  --gradient-slate: hsl(252, 100%, 67%);
  --gradient-royal: hsl(241, 81%, 54%);
  --gradient-violet: hsla(256, 72%, 46%, 1);
  --gradient-persian: hsla(241, 72%, 46%, 0);
  --text-white: hsl(0, 0%, 100%);
  --text-pale: hsl(221, 100%, 96%);
  --text-lavender: hsl(241, 100%, 89%);
  --text-gray-blue: hsl(224,30%, 27%);
  --font-size: 1.125rem;
  --fw-500: 500;
  --fw-700: 700;
  --fw-800: 800;
  --font-family: 'Hanken Grotesk', sans-serif;
}

body {
  font-family: var(--font-family);
  font-size: var(--font-size);
  font-weight: var(--fw-500);
  background-color: antiquewhite;
  position: relative;
  min-height: 100dvh;
  min-height: 100vh;
}

.App {
  display: flex;
  flex-direction: column;
  max-width: 370px;
  background-color: var(--text-white);
  margin: 0 auto;
  padding-bottom: 1rem;
}

main {
  background: linear-gradient(var(--gradient-slate), var(--gradient-royal));
  color: var(--text-white);
  border-bottom-left-radius: 1.5rem;
  border-bottom-right-radius: 1.5rem;
  text-align: center;
  padding-block: 1rem;
  padding-inline: 2rem;
}

h2 {
  font-size: 1.2rem;
  padding-bottom: 1.5rem;
}

.div__score {
  background: linear-gradient(var(--gradient-violet), var(--gradient-persian));
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
  padding-block: 1rem;
  margin: 0 auto;
}

.p__score {
  font-size: 3.5rem;
  font-weight: var(--fw-800);
  padding-top: 0.5rem;
}

h3 {
  padding-top: 0.8rem;
  font-size: 1.7rem;
}

.p__score_results {
  padding-bottom: 1rem;
}

.p__score_circle {
  color: hsl(0, 2%, 55%);
}

aside {
  background-color: var(--text-white);
  color: var(--text-gray-blue);
  padding: 2rem;
}

ul {
  list-style-type: none;
  padding: 0;
  margin-bottom: 2.2rem;
}

li {
  margin-bottom: 1rem;
}

.results {
  display: grid;
  grid-template-columns: auto 1fr;
}

.div__reaction {
  color: var(--list-red);
  background-color: hsla(0, 100%, 67%, 0.1 );
  padding-block: 0.7rem;
  border-radius: 0.5rem;
}

.div__memory {
  color: var(--list-yellow);
  background-color: hsla(39, 100%, 56%, 0.1 );
  padding-block: 0.7rem;
  border-radius: 0.5rem;
}

.div__verbal {
  color: var(--list-teal);
  background-color: hsla(166, 100%, 37%, 0.1 );
  padding-block: 0.7rem;
  border-radius: 0.5rem;
}

.div__visual {
  color: var(--list-blue);
  background-color: hsla(234, 85%, 45%, 0.1 );
  padding-block: 0.7rem;
  border-radius: 0.5rem;
}

span {
  color: hsl(0, 2%, 55%);
  grid-column: 3/3;
  padding-right: 0.8rem;
}

b {
  color: var(--text-gray-blue);
}

img {
  padding: 0.3rem 0.8rem;
  grid-column: 1/1;
}

.button__continue {
  text-decoration: none;
  border-radius: 2rem;
  background-color: var(--text-gray-blue);
  color: var(--text-white);
  font-weight: var(--fw-700);
  padding: 1rem 7rem;
  margin-left: 0.2rem;
  cursor: pointer;
}

.button__continue:hover {
  background-color: var(--gradient-royal);
}

@media(min-width: 51.25rem){

  body {
    margin-top: 15rem;
    margin-right: 16rem;
  }

  .App {
    display: flex;
    flex-direction: row;
    padding-bottom: 0;
    border-top-left-radius: 2rem;
    border-bottom-left-radius: 2rem;
    box-shadow: 1rem 1rem 1rem rgb(148, 151, 151);
  }

  main {
    min-width: 365px;
    border-radius: 2rem;
    background-color: var(--text-white);
    padding-inline: 3.5rem;
    padding-block: 3rem;
  }

  .div__score {
    margin-bottom: 2rem;
  }

  h3 {
    padding-bottom: 1rem;
  }

  aside {
    border-top-right-radius: 2rem;
    border-bottom-right-radius: 2rem;
    box-shadow: 1rem 1rem 1rem rgb(148, 151, 151);
  }

  ul {
    margin-bottom: 4rem;
  }
}

/* For smallest screens < 320px */
@media (max-width: 21.25rem) {

  .button__continue {
    padding: 1rem 4rem;
  }
}

